<!-- weather-forecast.component.html -->
<div class="bg-main">
  <h2 class="w-full text-center text-custom-orange">Current weather forecast</h2>
  <hr class="my-2 border-custom-orange">


  <!-- Skeleton Loading State -->
  <div *ngIf="dataLoading; else chartContent">
    <p-skeleton height="250px"></p-skeleton>
  </div>

  <!-- Chart Content -->
  <ng-template #chartContent>
    <p-chart class="w-full h-full" type="bar" height="250px" [data]="weatherChart" [options]="chartOptions"></p-chart>
  </ng-template>

  <hr class="my-2 border-custom-orange">

</div>
