<div class="w-full flex flex-col items-center bg-gray-700 rounded-xl px-4 py-4 text-white">
  <!-- Location Information -->
  <ng-container *ngIf="meteo.geoInformation$ | async as userLocation">
    <div class="flex flex-col items-center justify-between mb-4">
      <!-- Location Information: Now centered because of the spacer -->
      <app-weather-visual-banner [currentMeteo]="(meteo.meteoData$ | async)?.current"></app-weather-visual-banner>
      <div class="text-center mb-4">
        <h3 class="text-3xl font-bold">{{ userLocation.city }}, {{ userLocation.country }}</h3>
        <p>{{ userLocation.continent }}</p>
      </div>
    </div>
    <!-- Current Weather Details -->
    <div *ngIf="meteo.meteoData$ | async as meteoData" class="text-center mb-8">
      <p class="text-lg font-semibold mb-2">Temperature: <span class="text-xl font-bold">{{
          meteoData.current.temperature_2m }}{{ meteoData.current_units.temperature_2m }}</span></p>
      <p class="text-lg font-semibold mb-2">Humidity: <span class="text-xl font-bold">{{
          meteoData.current.relative_humidity_2m }}{{ meteoData.current_units.relative_humidity_2m }}</span>
      </p>
      <p class="text-lg font-semibold mb-2">Wind: <span class="text-xl font-bold">{{
          meteoData.current.wind_speed_10m }}{{ meteoData.current_units.wind_speed_10m }}</span></p>
    </div>

    <div>
      <app-custom-city-select title="Want to see weather of the other places?"></app-custom-city-select>
    </div>
  </ng-container>
  <!-- Loading Spinner -->
  <ng-container *ngIf="!(meteo.geoInformation$ | async)">

  </ng-container>
</div>