<div class="bg-main ">
  <h2 class="w-full text-center">Weather history</h2>
  <p class="text-center text-xs">(the gap between forecast and history data, due to OpenMeteo archive api specifics)</p>

  <hr class="my-2 border-custom-orange">

  <!-- Skeleton Loading State -->
  <div *ngIf="isLoading; else chartContent">
    <p-skeleton height="250px"></p-skeleton>
  </div>

  <!-- Chart Content -->
  <ng-template #chartContent>
    <p-chart class="w-full h-full" type="bar" height="250px" [data]="weatherChartData" [options]="chartOptions"></p-chart>
  </ng-template>

  <hr class="my-2 border-custom-orange">
</div>
